@import "../../../assets/scss/main.scss";

.links {
  border-top: 1px solid $border-complement;
  padding-top: 20px;

  ul.icons-list {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 10px;

    li.icon {
      display: inline-block;
      padding-right: 18px;
      &.icon--fa {
        font-size: 2.2rem;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  a {
    color: white;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease; /* Fade to color for Chrome and Safari */

    &:hover {
      color: #fff9c4;
    }
  }

  .small {
    font-size: 1.3rem;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease; /* Fade to color for Chrome and Safari */
    cursor: normal;
  }
}
